In [8]:
import numpy as np
import pandas as pd
import random    #其中有用到random函数，所以导入

In [3]:
#数据字典创建dataframe
data = {
    'code':[1,2,3,1],
    'score':[2,3,4,5],
}
df = pd.DataFrame(data, index=[0, 10,20,30])
df

    code  score
0      1      2
10     2      3
20     3      4
30     1      5

In [8]:
# 获取某一行 根据index的序值
df.iloc[[1]]

    code  score
10     2      3

In [9]:
# 获取某一行 根据index的具体值
df.loc[[10]]

    code  score
10     2      3

In [14]:
# 获取最后一行
df.iloc[[-1]]

    code  score
30     1      5

In [16]:
# 根据某一列的值找到行
df[df['code']==1]

    code  score
0      1      2
30     1      5

In [10]:
# 获取某列
df['score']

0     2
10    3
20    4
30    5
Name: score, dtype: int64

In [25]:
# 某一列转list
col_list = df['code'].values.tolist()
col_list

[1, 2, 3, 1]