In [17]:
import numpy as np
import pandas as pd
import random    #其中有用到random函数，所以导入

In [26]:
#数据字典创建dataframe
data = {
    'code':[1,2,3,1],
    'score':[2,3,4,5],
}
df = pd.DataFrame(data, index=[0, 10,20,30])
df

    code  score
0      1      2
10     2      3
20     3      4
30     1      5

In [30]:
# 合并code的值，并让score相加
df1 = df.groupby(['code']).sum()
df1

      score
code
1         7
2         3
3         4

In [31]:
# 以code为点合并 df 与 df2
df2 = pd.DataFrame({
    'code':[1,2,3],
    'num':[2,3,4]
})
pd.merge(df1, df2, on='code')

   code  score  num
0     1      7    2
1     2      3    3
2     3      4    4

In [32]:
# df2添加某一行
df2 =  df2.append(df2.loc[[1]])
df2

   code  num
0     1    2
1     2    3
2     3    4
1     2    3