In [2]:
import numpy as np
import pandas as pd
import random    #其中有用到random函数，所以导入

In [5]:
# 利用randn随机创建dataframe
df = pd.DataFrame(np.random.randn(8,5))
df

          0         1         2         3         4
0 -0.555868  0.781610  0.577834 -0.308002 -1.151356
1 -0.165637 -3.237746  0.152595  1.754017 -2.015185
2  1.438123  0.225494 -1.318895 -0.694138 -0.706536
3  1.439912  0.325431  0.940528 -2.782754  2.061421
4 -0.465831 -0.522863  0.857087  0.110369 -0.564318
5  0.636004 -0.686870 -0.762756  0.415244  0.246742
6 -0.633789 -0.528645  0.938498  0.487574 -1.575568
7 -0.200240 -1.214496 -0.980306  0.322606  0.087332

In [6]:
# 用字典dict来生成一个dataframe
data = {'BoolCol': [1, 2, 3, 3, 4],
        'attr': [22, 33, 22, 44, 66],
        'BoolC': [1, 2, 3, 3, 4],
        'att': [22, 33, 22, 44, 66],
        'Bool': [1, 2, 3, 3, 4]
        }
df = pd.DataFrame(data)
df

   BoolCol  attr  BoolC  att  Bool
0        1    22      1   22     1
1        2    33      2   33     2
2        3    22      3   22     3
3        3    44      3   44     3
4        4    66      4   66     4

In [7]:
# 自定义索引的dataframe
df = pd.DataFrame(data,index=[10,20,30,40,50])
df

    BoolCol  attr  BoolC  att  Bool
10        1    22      1   22     1
20        2    33      2   33     2
30        3    22      3   22     3
40        3    44      3   44     3
50        4    66      4   66     4

In [9]:
#以某一列为索引，该列必须值唯一，不能重复
df.set_index('att')

     BoolCol  attr  BoolC  Bool
att
22         1    22      1     1
33         2    33      2     2
22         3    22      3     3
44         3    44      3     3
66         4    66      4     4